<div class="container">
    <p align="right"><a routerLink="/"  class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-window-close fa-2x" style="color:red" aria-hidden="true"></i></a> </p>
<h1 align="center"><i class="fa fa-dashboard" style="font-size:30px; margin-right: 15px;"></i>Mentor Dashboard:</h1>

<div class='row'>
<div class="column">
<div class="card" align="center">
<img src="https://image.flaticon.com/icons/svg/60/60977.svg" alt="Avatar" style="width:40%;">
<div class="container1">
  <h4><b>Notifications</b></h4> 
  <button>View</button> 
  </div>
</div>
</div>

<div class="column">
    <div class="card" align="center">
       <img src="https://d3rds0a9qm8vc5.cloudfront.net/live.cloodon.com/Image_3.png" alt="Avatar" style="width:60%;">
       <div class="container1">
         <h4><b>Current Trainings</b></h4> 
         <button>Go</button> 
         </div>
       </div>
     </div>

</div>

<div class='row'>
  <div class="column">
  <div class="card" align="center">
  <img src="https://png.pngtree.com/svg/20160826/7c4389859d.svg" alt="Avatar" style="width:35%;">
  <div class="container1">
    <h4><b>Completed Trainings</b></h4> 
    <button>View</button> 
    </div>
  </div>
  </div>
  
  <div class="column">
      <div class="card" align="center">
         <img src="https://cdn3.iconfinder.com/data/icons/linies-small/64/pencil-512.png" alt="Avatar" style="width:40%;">
         <div class="container1">
           <h4><b>Edit Skills</b></h4> 
           <button>Edit</button> 
           </div>
         </div>
       </div>
  
  </div>
</div>

