

<div class="container">
        <p align="right"><a routerLink="/"  class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-window-close fa-2x" style="color:red" aria-hidden="true"></i></a> </p>
  <div style="text-align:center">
    
    <h1><i class="fa fa-envelope" style="font-size:30px; margin-right: 15px;"></i>Contact Us:</h1>

  </div>
  <div class="row">
    <div class="column">
      <img src="https://www.gha.org.uk/__data/assets/image/0014/2147/varieties/wide-3-4col.png" style="width:100%">
    </div>
    <div class="column">
      <form #f="ngForm">
        <label for="fname">First Name </label>
        <input type="text" id="fname" required ngModel name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" required ngModel name="lastname" placeholder="Your last name..">
        <label for="country">Country</label>
        <select id="country" required ngModel name="country">
          <option value="australia">India</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
        <label for="subject">Subject</label>
        <textarea id="subject" required ngModel name="subject" placeholder="Write something.." style="height:170px"></textarea>
        <input [disabled]="!f.form.valid" type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>


