<div id="mydiv">
    <p align="right"><a routerLink="/course" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-window-close fa-2x" style="color:red" aria-hidden="true"></i></a> </p><br>
<img src="https://www.wrherbert.com/images/icons/icon_java.png" height="250px" width="310px" align="right">
<h1>An Introduction to the Java Full Stack</h1>

<p id="para1">A full stack web developer is a person who can develop both client and server software. In addition to mastering HTML and CSS, he/she also knows how to program a browser (like using JavaScript, jQuery, Angular, or Vue), program a server (like using PHP, ASP, Python, or Node) and program a database (like using SQL, SQLite, or MongoDB). Full stack developers leave particular technologies behind them because their understanding has evolved. They understand technology as part of the ecosystem and know, that technology changes faster than principles of computer science. They care about every one aspect of a software development endeavor. Full stack developers might be specialized in a certain area, yet they are polyglot and comfortable by applying new languages, tools and techniques.</p>
<h2>Features of Java:</h2>
<ul><li>Java is platform independent because it is different from other languages like C, C++, etc. which are compiled into platform specific machines while Java is a write once, run anywhere language.
</li>
<li>
        Java is best known for its security. With Java, we can develop virus-free systems. Java is secured because: no explicit pointer, java Programs run inside a virtual machine sandbox
</li>
<li>
        Java is robust because it uses strong memory management. There is a lack of pointers that avoids security problems. There is automatic garbage collection in java which runs on the Java Virtual Machine to get rid of objects which are not being used by a Java application anymore. There are exception handling and the type checking mechanism in Java. All these points make Java robust.
</li>
<li>
        Java is faster than other traditional interpreted programming languages because Java bytecode is "close" to native code. It is still a little bit slower than a compiled language (e.g., C++). Java is an interpreted language that is why it is slower than compiled languages, e.g., C, C++, etc. 
</li> </ul>
<h2>Duration: </h2><strong> 6 Weeks </strong>
<p align="right"><button type="submit">Register for the course</button></p>
</div>

