<div id="mydiv">
    <p align="right"><a routerLink="/course" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-window-close fa-2x" style="color:red" aria-hidden="true"></i></a> </p><br>
<img src="https://raw.githubusercontent.com/shahzaibkhalid/mern-app-generator/master/static/logo.png" height="240px" width="280px" align="right">
<h1>An Introduction to the MERN Stack</h1>

<p id="para1">A stack is the combination of technologies used to create a web application. Any web application will be made using multiple technologies (frameworks, libraries, databases etc).
    The MERN stack is a JavaScript stack that’s designed to make the development process smoother. MERN includes four open-source components: MongoDB, Express, React, and Node.js. These components provide an end-to-end framework for developers to work in.  
     </p>
<h2>Basics:</h2>
<ul>
<li>
<b>M</b>ongoDB is a schemaless NoSQL database system. MongoDB saves data in binary JSON format which makes it easier to pass data between client and server.
 </li>
 <li>
<b>E</b>xpress is lightweight framework used to build web applications in Node. It provides a number of robust features for building single and multi page web application. Express is inspired by the popular Ruby framework, Sinatra.
</li>
<li>
<b>R</b>eact was originally created by a software engineer at Facebook, and was later open-sourced. It is maintained by Facebook, as well as a community of development companies and individual developers. The React library can be used for creating views rendered in HTML. React anchors the MERN stack. In a way, it’s the defining feature of the stack. It’s the one component that differentiates MERN from MEAN, another popular JavaScript stack that uses AngularJS (a front-end web application framework) instead of the React library.
</li> 
<li>
<b>N</b>ode.js is a server side JavaScript execution environment. It’s a platform built on Google Chrome’s V8 JavaScript runtime. It helps in building highly scalable and concurrent applications rapidly.
</li>
</ul>
<h2>Duration: </h2><strong> 6 Weeks </strong>
<p align="right"><button type="submit">Register for the course</button></p>
</div>

