<div class="container">

    <!-- <h2>Animate Fade In and Out</h2>
    <p>The w3-animate-fading class fades in and out elements every 10 seconds (continuously).</p> -->
 <p align="center" style="margin-top: 50px;"><img class="w3-animate-fading" src="http://www.pngmart.com/files/3/Welcome-PNG-Photos.png" alt="avater" style="height: 300px; width: 780px"> <br><br>
    <p align="center"><img class="w3-animate-fading" src="../../assets/images/mentorondemand.png" style="width: 60%;" alt="avater">
 </p>
</div>
