<div id="mydiv">
    <p align="right"><a routerLink="/course" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-window-close fa-2x" style="color:red" aria-hidden="true"></i></a> </p><br>
<img src="https://pics.computerbase.de/1/4/1/2/7/logo-256.png" height="240px" width="290px" align="right">
<h1>An Introduction to the ASP.NET MVC</h1>

<p id="para1">ASP.NET MVC framework has been a real advantage for developers to build ASP.NET applications implementing MVC pattern easy, fast and in an efficient manner. Going forward in a project development the manageability of the project becomes much easier because of its loosely coupled nature. In this article I will take you through a list of ASP.NET MVC framework features which I feel to be the top 7 list. ASP.NET MVC was initially introduced by Microsoft along with .NET framework 3.5 service pack 1 (1.0 version). </p>
<h2>Features of ASP.NET MVC:</h2>
The whole concept revolves around 3 major components:
<ul><li>Model (Represents M): Model is generally the business objects responsible for representing the underlying the database schema and would hold the data/state for an MVC application.
</li>
<li>
        View (Represents V): This is the UI piece of the application. Generally in ASP.NET MVC application it is a .aspx and .ascx file.
</li>
<li>
        Controller (Represents C): This is the heart of ASP.NET MVC framework application which is responsible for rendering the appropriate view to the client, executing the pertinent action method, getting the data from the model and populating the view, getting the data from view and updating the model, etc.
</li>
 </ul>
<h2>Duration: </h2><strong> 6 Weeks </strong>
<p align="right"><button type="submit">Register for the course</button></p>
</div>

