<div class="container">
    <p align="right"><a routerLink="/"  class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-window-close fa-2x" style="color:red" aria-hidden="true"></i></a> </p>
<h1 align="center"><i class="fa fa-dashboard" style="font-size:30px; margin-right: 15px;"></i>Admin Dashboard:</h1>

<div class='row'>
<div class="column">
<div class="card" align="center">
<img src="https://onlineapps.fiu.edu/coursecatalog/images/course-catalog.png" alt="Avatar" style="width:48%;">
<div class="container1">
  <h4><b>Courses List</b></h4> 
  <button>View</button> 
  </div>
</div>
</div>

<div class="column">
    <div class="card" align="center">
       <img src="https://images.squarespace-cdn.com/content/v1/5c512fb6ec4eb7b7516f2f54/1558523169057-OLON9SIKT92GCAB3KO3I/ke17ZwdGBToddI8pDm48kN69SmoCoj_adJQlU4G3qb9Zw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIzkspKUfjNY74Ve4nygQKUGjfQjGmkzyJYCeu_gkLraY/HitPayNoMonthlyFees.png" alt="Avatar" style="width:50%;">
       <div class="container1">
         <h4><b>Payments List</b></h4> 
         <button>View</button> 
         </div>
       </div>
     </div>

</div>
</div>

